.write {
  padding-top: 3em;
}
.writeForm {
  position: relative;
}
.writeFormGroup {
  margin-left: 10em;
  display: flex;
  align-items: center;
}
.writeIcon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(121, 118, 118);
  cursor: pointer;
}
.writeInput {
  font-size: 1.5rem;
  border: none;
  padding: 1em;
  width: 70vw;
}
.writeInput:focus {
  outline: none;
}
.submit-btn {
  position: absolute;
  top: 190px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}
